#gameArea {
    width: 400px;
    height: 400px;
    background-color: #EEE;
    border: 2px solid #333;
    margin: -1 auto;
}
.snakeBody {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
}
.food {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
}
